<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Gastos</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <nav class="navbar">
                <div class="navbar-container">
                    <div class="logo">
                        <a routerLink="/">
                            <span>CONTROL GASTOS</span>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="welcome-bar">
                Podcast
            </div>
        </header>
        <div *ngIf="notificationMessage" class="notification">
            {{ notificationMessage }} <i class="fas fa-check"></i>
        </div>
        <main class="main-content">
          <div *ngIf="isLoadingPodcasts">Cargando podcasts...</div>
          <div *ngIf="error">{{ error }}</div>
        
           <!-- Reproductor completo de Spotify para el podcast seleccionado -->
           <div *ngIf="selectedPodcastEmbedUrl" class="spotify-player">
            <iframe 
              [src]="selectedPodcastEmbedUrl" 
              width="100%" 
              height="380" 
              frameborder="0" 
              allowtransparency="true" 
              allow="encrypted-media">
            </iframe>
          </div>
          <!-- Lista de podcasts como tarjetas en formato de grilla -->
          <div class="white-container">
            <h1>Seleccione su podcast favorito.</h1>
            <br>
            <div class="podcast-grid">
              <div *ngFor="let podcast of podcasts" class="podcast-card" (click)="selectPodcast(podcast.id)">
                <div>
                  <img class="podcast-image" [src]="podcast.images[0]?.url" alt="Podcast Image">
                  <div class="podcast-content">
                    <h3 class="podcast-title">{{ podcast.name }}</h3>
                    <p class="podcast-description">{{ podcast.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>                     
    </div>
</body>
</html>
