* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #4a4657;
  color: white;
}

.navbar {
  height: 80px;
  background-color: #1c1c1c;
  padding: 15px 0;
  color: white;
  justify-content: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
  margin-left: -80px;
  margin-top: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-top: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  font-family: sans-serif;
  font-weight: 500;
}

.nav-links a:hover {
  color: #888;
}

.welcome-bar {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  border-top: 1px solid #ccc;
  font-weight: 600;
  border: 1px solid black;
}

.icon-bar {
  position: absolute;
  top: 170px;
  /* Ajusta esta propiedad según necesites */
  left: 20px;
  /* Cambiado de right: 20px a left: 20px */
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.icon:hover {
  background-color: #555;
}

.floating-container {
  position: absolute;
  top: 150px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 8px;
  display: none;
}

#tweets-popup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 70px;
  width: 300px;
  padding: 20px;
  background-color: rgb(255, 238, 238);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  font-family: Arial, sans-serif;
}

#tweets-popup h3 {
  margin-bottom: 15px;
  color: #181a1b;
  font-size: 20px;
  border-bottom: 1px solid #e1e8ed;
  padding-bottom: 10px;
}

#tweets-popup p {
  color: #14171a;
  /* Color del texto principal */
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

#tweets-popup small {
  color: #657786;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}

#tweets-popup hr {
  border: none;
  border-top: 1px solid #e1e8ed;
  margin: 10px 0;
}


.main-content {
  background-color: #f1edec;
  background-image: url('/assets/Fondo_InicioU.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.main-content h2 {
  margin-top: 0;
}

section {
  background-color: #fff2cc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.089);
  border: 1px solid #0f0f0f;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(10px);
  background: rgba(100, 175, 140, 0.35);
  margin-top: 50px;
}

section h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Contenedor para las tarjetas con scroll horizontal */
.gastos {
  display: flex;
  overflow-x: auto;
  /* Activa la barra deslizadora horizontal */
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth;
  /* Suaviza el desplazamiento */
}

.gastos::-webkit-scrollbar {
  height: 10px;
  /* Altura de la barra de desplazamiento */
}

.gastos::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.gastos::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.card {
  flex: 0 0 auto;
  /* Permite que las tarjetas mantengan su tamaño y no se encogen */
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 1000px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out;
}

.card .front {
  background: linear-gradient(135deg, #1abc9c, #16a085);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card .front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card .front h3 {
  color: white;
  margin-top: 20px;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.card .back {
  background: linear-gradient(135deg, #34495e, #2c3e50);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .back h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card .back p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card .back .enlace {
  text-align: center;
}

.card .back .enlace a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #1abc9c;
  background-color: white;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.card .back .enlace a:hover {
  background-color: #1abc9c;
  color: white;
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  position: relative;
  margin-right: 10px;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #5b4e76;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: sans-serif;
  font-size: small;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #5b4e76 transparent transparent transparent;
}

li:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.info-container {
  display: flex;
  justify-content: start;
  margin: 10px 0;
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: 10;
}

.floating-window {
  background-color: rgba(0, 3, 34, 0.568);
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.text-red {
  color: rgb(255, 7, 7);
}

.text-green {
  color: rgb(57, 235, 57);
}

.locate-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 100;
}

.locate-button:hover {
  background-color: #16a085;
}


.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #00d757;
}

.Btn.paypal {
  background-color: #0070BA;
}

.Btn.twitter {
  background-color: #000000;
}

.Btn.mapbox {
  background-color: #8C4F4E;
}

.Btn.spotify {
  background-color: #467a39;
}

.Btn.youtube {
  background-color: #8b1d1d;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 25px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px, 2px);
}

.Btn .sign {
  font-size: 2em;
  color: white;
}

.floating-map {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.floating-map h3 {
  margin-top: 0;
}

.floating-container-youtube {
  position: fixed;
  bottom: 20px;
  top: 100px;
  left: 6%;
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  display: none;
}

.floating-container-youtube h3 {
  margin-top: 0;
}

.floating-container-youtube hr {
  margin: 10px 0;
}

.main {
  background-color: white;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  width: 260px;
}

.search__input {
  width: 100%;
  padding: 10px 35px 10px 15px; /* Espacio adicional para la lupa */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search__icon {
  font-size: 18px;
  color: #888;
}

.search__button:hover {
  cursor: pointer;
}


.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: lightgray;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.albumcover {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  align-self: center;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: black;
  align-self: center;
  margin-top: 0.7em;
}

.artist {
  font-size: 0.6em;
}

.video-item {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

.video-thumbnail {
  width: 60px;
  height: 40px;
  border-radius: 5px;
}

.video-info {
  display: flex;
  flex-direction: column;
}

.video-info .name {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.video-info .artist {
  font-size: 10px;
  color: #555;
  margin: 0;
}

.video-popup {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 560px;
  height: 315px;
  border: 4px solid #ccc;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  resize: both;
  overflow: hidden;
  cursor: move;
  z-index: 1000;
  padding-left: 20px; /* Espacio adicional para el pseudo-elemento en el borde izquierdo */
}

.video-popup::before {
  content: '⇔'; /* Puedes cambiar este símbolo por otro que prefieras */
  position: absolute;
  top: 0;
  left: 0;
  width: 20px; /* Ancho del borde izquierdo */
  height: 100%;
  background-color: #ddd; /* Color del borde */
  color: #333; /* Color del símbolo */
  font-size: 18px; /* Tamaño del símbolo */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move; /* Cursor de movimiento */
}

.video-popup iframe {
  width: calc(100% - 20px); /* Ajustar el ancho del iframe para evitar que se superponga con el borde izquierdo */
  height: 100%;
}

.currentplaying .fab.fa-youtube {
  font-size: 40px; /* Ajusta este tamaño a lo que necesites */
  color: #8a1313; /* Cambia este color al que desees */
  left: 10px;
}
