<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <body>
        <div class="container">
            <header class="header">
                <nav class="navbar">
                    <div class="navbar-cobntainer">
                      <div class="logo">
                        <a routerLink="/inicio-usuario">
                          <span>CONTROL GASTOS</span>
                        </a>
                      </div>
                      <ul class="nav-links">
                      </ul>
                    </div>
                  </nav>
            </header>
            <main class="main-content">
                <div *ngIf="notificationMessage" class="notification">
                    {{ notificationMessage }} <i class="fas fa-check"></i>
                </div>
                <div class="floating-window">
                    <li class="left" *ngFor="let presupuesto of presupuestos">
                        <a>
                            Presupuesto actual: 
                            <span [ngClass]="{'text-red': presupuesto.PresupuestoActual < 0, 'text-green': presupuesto.PresupuestoActual >= 0}">
                                ${{ presupuesto.PresupuestoActual }}
                            </span>
                        </a>
                    </li>
                </div>
                <br>
                <h1>Consulta una Acción</h1>
                <div>
                    <div class="white-container">
                    <form (ngSubmit)="onSubmit()" class="form-container">
                        <label for="ticker">Nombre de la acción a consultar:</label>
                        <input type="text" id="ticker" [(ngModel)]="ticker" name="ticker" required class="input-field">
                        <button type="submit" class="submit-btn">Consultar</button>
                    </form>
                    </div>
                </div>
                <br>
                <div *ngIf="searchPerformed">
                    <h1>Información de la Acción: {{ ticker }}</h1>
                    <div class="white-container">
                        <table class="expenses-table">
                            <thead>
                                <tr>
                                    <th>Precio Actual</th>
                                    <th>Precio Alto del Día</th>
                                    <th>Precio Bajo del Día</th>
                                    <th>Precio de Apertura</th>
                                    <th>Precio de Cierre Anterior</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="!loading && stockData" >
                                    <td> 
                                        <div *ngIf="loading">
                                            <p>Cargando información de la acción...</p>
                                        </div>
                                        {{ stockData.c | number: '1.2-2' }} USD</td>
                                    <td>
                                        <div *ngIf="loading">
                                            <p>Cargando información de la acción...</p>
                                        </div>
                                        {{ stockData.h | number: '1.2-2' }} USD</td>
                                    <td> 
                                        <div *ngIf="loading">
                                            <p>Cargando información de la acción...</p>
                                        </div>
                                        {{ stockData.l | number: '1.2-2' }} USD</td>
                                    <td>
                                        <div *ngIf="loading">
                                            <p>Cargando información de la acción...</p>
                                        </div>
                                        {{ stockData.o | number: '1.2-2' }} USD</td>
                                    <td>
                                        <div *ngIf="loading">
                                            <p>Cargando información de la acción...</p>
                                        </div>
                                        {{ stockData.pc | number: '1.2-2' }} USD</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div *ngIf="recommendations && recommendations.length > 0">
                    <h1>Tendencias de Recomendación para: {{ ticker }}</h1>
                    <div class="white-container">
                        <table class="expenses-table">
                            <thead>
                                <tr>
                                    <th>Periodo</th>
                                    <th>Comprar</th>   
                                    <th>Vender</th>
                                    <th>Conservar</th>
                                    <th>Compra fuerte</th>
                                    <th>Venta fuerte</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let recommendation of recommendations">
                                    <td>{{ recommendation.period }}</td>
                                    <td>{{ recommendation.buy }}</td>
                                    <td> {{ recommendation.sell }}</td>
                                    <td>{{ recommendation.hold }}</td>
                                    <td>{{ recommendation.strongBuy }}</td>
                                    <td>{{ recommendation.strongSell }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div *ngIf="companyNews && companyNews.length > 0">
                    <h1>Noticias recientes en el mundo de las finanzas</h1>
                    <div class="white-container">
                        <table class="expenses-table">
                            <thead>
                                <tr>
                                    <th>Noticia</th>
                                    <th>Fuente</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let article of companyNews">
                                    <td>{{ article.headline }}</td>
                                    <td>{{ article.summary }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
            </main>          
        </div>
    </body>
    </html>